<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Research.Malmo.HumanAction.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="MalmoHumanAction.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Research.Malmo.HumanAction.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MalmoHumanAction.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <applicationSettings>
    <Microsoft.Research.Malmo.HumanAction.Properties.Settings>
      <setting name="Title" serializeAs="String">
        <value>Malmo Human Action</value>
      </setting>
    </Microsoft.Research.Malmo.HumanAction.Properties.Settings>    
  </applicationSettings>
  <userSettings>
    <Microsoft.Research.Malmo.HumanAction.Properties.Settings>
      <setting name="VideoWidth" serializeAs="String">
        <value>320</value>
      </setting>
      <setting name="VideoHeight" serializeAs="String">
        <value>240</value>
      </setting>
      <setting name="OutputDir" serializeAs="String">
        <value />
      </setting>
      <setting name="RecordObservations" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RecordRewards" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RecordCommands" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RecordMP4" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BitRate" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="StickyKeys" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsMoveEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsStrafeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsPitchEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsTurnEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsAttackEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsCrouchEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsUseEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsJumpEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HighScores" serializeAs="String">
        <value />
      </setting>
      <setting name="Curriculum" serializeAs="String">
        <value />
      </setting>
      <setting name="ClientIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="ClientPort" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="MP4FPS" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="IsNorthEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsSouthEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsEastEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsWestEnabled" serializeAs="String">
        <value>True</value>
      </setting>
    </Microsoft.Research.Malmo.HumanAction.Properties.Settings>
  </userSettings>
</configuration>