# To apply changes in this file run: ./gradlew clean setupDecompWorkspace idea
# This file allows the changing of the access type of certain methods to public of not. 
# This will be useful when using multiple versions of Forge (and upgrading from 1.11 to 1.12 or 1.13)

##if MC>=11002
# public net.minecraft.client.renderer.GlStateManager TextureState
public-f net.minecraft.client.Minecraft field_71428_T # timer
public net.minecraft.client.Minecraft field_71445_n # isGamePaused
##else
#$$ public net.minecraft.client.Minecraft field_71428_T # timer
##endif



# Timer stuff
public net.minecraft.util.Timer *

# GL Stuff for Mixin.
public net.minecraft.client.renderer.GlStateManager *
public net.minecraft.client.renderer.GlStateManager$TextureState
public net.minecraft.client.renderer.GlStateManager$FogState
public net.minecraft.client.renderer.GlStateManager$BooleanState
public net.minecraft.client.renderer.GlStateManager$BooleanState *

