# Configuration file

general {
    # Last flight speed, DONT CHANGE IN MOD CONFIG MENU IN-GAME
    S:LastFlightSpeed=0.05

    # Last flight status, DONT CHANGE IN MOD CONFIG MENU IN-GAME
    B:LastFlightStatus=true

    # Save last flight status (and speed) or not (works since 1.11.2)
    B:SaveFlightStatus=true

    keys {
        # Key mapping for Flying Faster, use Options/Controls menu to change
        I:FlyFaster=78

        # Key mapping for Flying Slower, use Options/Controls menu to change
        I:FlySlower=74

        # Key mapping for Toggle Flight, use Options/Controls menu to change
        I:ToggleFlight=211
    }

    rendition {
        # Automatically hide Status Text when Debug screen is shown
        B:AutoHideStatusInDebugScreen=true

        # Show status (and speed when flying) or not
        B:ShowStatusText=false

        # The HEX code for the text color, https://minecraft.gamepedia.com/Formatting_codes#Color_codes
        S:StatusTextColor=FFAA00

        # X position (column) on screen for Status text
        I:StatusTextPosX=1

        # Y position (line) on screen for Status text
        I:StatusTextPosY=1
    }

}


